.formLoginContainer {
  width: 100vw;
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/3721941/pexels-photo-3721941.jpeg?auto=compress&cs=tinysrgb&w=1600");
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(0, 0, 0);
  display: flex;
}

.formLogin {
  height: 48vh;
  width: 20vw;
  background: white;
  font-family: "Montserrat", sans-serif;
  margin: 20vh 0vw 0vw 12vw;
  padding: 20px 30px 20px 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
}

.paragraphTitle {
  margin-bottom: 15px;
  font-size: 28px;
  font-weight: bold;
}

.paragraph {
  font-size: 16px;
  margin-bottom: 35px;
}
