.UserPlaylistPage {
  background: var(--bg-color-height);
  max-width: var(--main-width);
  min-height: 100vh;
  padding: 3.7vw 0vw 0vw 0vw;
  display: flex;
  flex-wrap: wrap;
}

.containerPlaylistList {
  width: 97%;
  padding: 8% 0%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  direction: rtl;
  gap: 7%;
}

.playlistCard {
  width: 240px;
  height: 140px;
  background: var(--text-secondary-color);
  border-radius: 10px;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.506);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.8s;
}

.playlistCard:hover {
  transform: scale(1.3);
}
