.tableContainer {
  padding-top: 150px;
  width: 82vw;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.table th {
  background: #ffffff;
  color: black;
  font-size: medium;
  font-weight: 900;
  position: sticky;
  top: 100px;
}

.table,
.tbody,
.thead .table.tbody > tr,
.table.thead > tr {
  text-align: left;
  color: var(--text-secondary-color);
}

th,
td {
  padding: 12px;
}

.table > tr:hover {
  background: var(--bg-secondary-color);
}

.songNumAndIng {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.songImg {
  height: 45px;
  width: 45px;
}

.songName {
  font-weight: bold;
}

.artistName,
.songTime {
  color: rgb(130, 130, 130);
}

.icon {
  font-size: 20px;
  cursor: pointer;
}
