.tablePage {
  height: 100vh;
  width: var(--main-width);
  padding-top: 150px;
  display: flex;
  flex-direction: column;
}

.playlistPlayerContainer {
  width: var(--main-width);
}

.tableContainer {
  margin-top: 55px;
  position: relative;
  overflow: scroll;
}

.table {
  width: 100%;
  color: var(--text-secondary-color);
  border-collapse: collapse;
  text-align: left;
}

.table th {
  background: #dcdcdc;
  color: rgb(0, 0, 0);
  font-size: medium;
  font-weight: 900;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
  position: sticky;
  top: 0px;
}

.table tr:hover {
  background: var(--bg-secondary-color);
}

th,
td {
  padding: 19px;
}

.songNumAndIng {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.songImg {
  height: 45px;
  width: 75px;
}

.icon {
  font-size: 20px;
  cursor: pointer;
}
