.sideBar {
  background-image: var(--bg-color);
  width: var(--side-bar-width);
  height: 100vh;
  border-left: 0.5px solid var(--text-secondary-color);
  overflow: scroll;
  position: fixed;
  top: 0;
  left: var(--main-width);
}
